{%  extends "base.html" %}


{% block content  %}

<head>
	<!-- Load plotly.js into the DOM -->

	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

</head>

<body>
<!-- Shows name of file currently in use at top of page-->

{% if error_message %} 
    <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log as input!</p>
{% else %}
    <p style="color:green;"> {{log_name}} is used as input.</p>
{% endif %}
<!--<p>{{default_x_axis_list1}}</p> <p>{{default_y_axis_list1}}</p>-->

<script> 
    var default_x = {{ default_x_axis_list|safe }};
    var default_y = {{ default_y_axis_list|safe }};
</script> 

<div id='myDiv'>
    <script>
    var trace1 = {
    x: default_x,
    y: default_y,
    mode: 'markers',
    type: 'scatter',
    marker: { size: 12 }
  };

  var layout = {
    showlegend: false,
    xaxis: { type: 'category', title: '{{ default_x_axis_label|safe }}'},
    yaxis: { type: 'category', title: '{{ default_y_axis_label|safe }}', automargin: true}
  };
  
  var data = [ trace1 ];
  
  Plotly.newPlot('myDiv', data, layout);
  
  </script></div> 

<!-- Used as an example list of attributes-->
<!--
<script>
    var attributes_list = new Array("concept:name", "org:resource", "time:timestamp", "Activity", "Resource", "Costs");
</script>
-->

<!-- Example dropdown menu-->
<!--
<p>X-axis attribute</p>
<select name="X-axis" id="X-axis">
    <script>
    //var attributes_list = new Array("concept:name", "org:resource", "time:timestamp", "Activity", "Resource", "Costs");
    for(i=0; i<attributes_list.length; i++){
        document.write('<option value="'+ attributes_list[i] +'">'+ attributes_list[i] +'</option>');
    }
    </script>
</select>
-->
<!--
<p>Y-axis attribute</p>
<select name="X-axis" id="X-axis">
    <script>
    //var attributes_list = new Array("concept:name", "org:resource", "time:timestamp", "Activity", "Resource", "Costs");
    for(i=0; i<attributes_list.length; i++){
        document.write('<option value="'+ attributes_list[i] +'">'+ attributes_list[i] +'</option>');
    }
    </script>

</select>

<p>Trace Sorting</p>
<select name="cars" id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>

<p>Color</p>
<select name="cars" id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>

<p>Shape</p>
<select name="cars" id="cars">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>

-->
<!-- Example button-->
<!--
<button onclick="myFunction()">Save visualization</button>

<div class="showcase__section" id="bubble">
    <div class="spacer --small"></div>
    <div id="bubbleplots">
      <div class="bubbleplot" data-num="0">
        <div class="plot" id="plotdiv"></div>
        <div class="control-row">
        Country:<br>
        <select class="countrydata">
          </select>
        </div>
      </div>
    </div>
</div>
        
  <script>
      //imports data
      Plotly.d3.csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv', function(err, rows){
//unpacks data
function unpack(rows, key) {
    return rows.map(function(row) { return row[key]; });
}
//initializing data variables based on imported data
var allCountryNames = unpack(rows, 'country'),
allYear = unpack(rows, 'year'),
allGdp = unpack(rows, 'gdpPercap'),
listofCountries = [],
currentCountry,
currentGdp = [],
currentYear = [];

//filling list of countries
for (var i = 0; i < allCountryNames.length; i++ ){
if (listofCountries.indexOf(allCountryNames[i]) === -1 ){
  listofCountries.push(allCountryNames[i]);
}
}

//Adapts X and Y coordinates according to the chosen country
function getCountryData(chosenCountry) {
currentGdp = [];
currentYear = [];
for (var i = 0 ; i < allCountryNames.length ; i++){
  if ( allCountryNames[i] === chosenCountry ) {
    currentGdp.push(allGdp[i]);
    currentYear.push(allYear[i]);
  } 
}
};

// Default Country Data
setBubblePlot('Afghanistan');

function setBubblePlot(chosenCountry) {
getCountryData(chosenCountry);  

//Constructed trace
var trace1 = {
  x: currentYear,
  y: currentGdp,
  mode: 'markers',
  marker: {
    symbol: 'diamond',
    size: 12, 
    opacity: 0.5
  }
};

var data = [trace1];

//var layout = {
//  title: 'GDP per cap according to Country<br>'+ chosenCountry + ' GDP'
//};

Plotly.newPlot('plotdiv', data);
};

var innerContainer = document.querySelector('[data-num="0"'),
plotEl = innerContainer.querySelector('.plot'),
countrySelector = innerContainer.querySelector('.countrydata');

function assignOptions(textArray, selector) {
for (var i = 0; i < textArray.length;  i++) {
  var currentOption = document.createElement('option');
  currentOption.text = textArray[i];
  selector.appendChild(currentOption);
}
}

assignOptions(listofCountries, countrySelector);

function updateCountry(){
setBubblePlot(countrySelector.value);
}

countrySelector.addEventListener('change', updateCountry, false);
});
</script>-->


<!--

<div class="showcase__section" id="bubble">
    <div class="spacer --small"></div>
    <div id="bubbleplots">
      <div class="bubbleplot" data-num="0">
        <div class="plot" id="plotdiv"></div>
        <div class="control-rowX">
          X-axis: <select class="xdata">
          </select>
        </div>
        <div class="control-rowY">
          Y-axis: <select class="ydata">
          </select>
        </div>
      </div>
    </div>
</div>



<script>
var attributes_list = new Array("concept:name", "org:resource", "time:timestamp", "Activity", "Resource", "Costs");

function getChosenAttributesData(chosenAttributeX, chosenAttributeY) {
currentX = [];
currentY = [];
for (var i = 0 ; i < attributes_list.length ; i++){
  if ( attributes_list[i] === chosenAttributeX ) {
    currentGdp.push(currentX[i]);
  } 
  if ( attributes_list[i] === chosenAttributeX ) {
    currentGdp.push(currentX[i]);
  } 
}
};

countrySelector = innerContainer.querySelector('.countrydata');

function assignOptions(textArray, selector) {
for (var i = 0; i < textArray.length;  i++) {
  var currentOption = document.createElement('option');
  currentOption.text = textArray[i];
  selector.appendChild(currentOption);
}
}

assignYOptions(listofAttributes, attributesYSelector);
assignXOptions(listofAttributes, attributesXSelector);

function updateXAttributes(){
setBubblePlot(attributesXSelector.value);
}
function updateYAttributes(){
setBubblePlot(attributesYSelector.value);
}

attributesYSelector.addEventListener('change', updateYAttributes, false);
attributesXSelector.addEventListener('change', updateXAttributes, false);
</script>
-->

</body>

    {% endblock %}



